<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body ng-app="ProjectApp" ng-controller="ProjectController">
    <h1>Project Management - Project ID: [[ project_id ]]</h1>

    <!-- Project Details -->
    <h2>Project Details</h2>
    <p><strong>Title:</strong> [[ project.title ]]</p>
    <p><strong>Guide:</strong> [[ project.student_detail.guide.name ]]</p>
    <p><strong>Current:</strong> [[ project.current ? 'Yes' : 'No' ]]</p>
    <p><strong>Guide Approved:</strong> [[ project.guide_approved ? 'Yes' : 'No' ]] <button ng-click="approveProject()">[[project.guide_approved?"Disapprove":"Approve"]]</button></p>
    <p><strong>Project File:</strong> <a ng-if="project.file_link" href="https://drive.google.com/file/d/[[ project.file_link ]]/view" target="_blank">View</a></p>

    <!-- Synopsis Section -->
    <h2>Synopsis</h2>
    
    <!-- Redirect to External Upload Page -->
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd8KcVJTqYgAJfZyNf8SUNRRf-kO7f7syfYe8IwLD1u6Z7nlQ/viewform?usp=pp_url&entry.14545404=[[project.encrypted]]" target="_blank">
        <button>Upload New Synopsis</button>
    </a>

    <table border="1">
        <tr>
            <th>Title</th>
            <th>File Link</th>
            <th>Uploaded At</th>
            <th>Guide Approved</th>
            <th>Actions</th>
            <!-- if the user was guide then show accept synopsis button else dont -->
        </tr>
        <tr ng-repeat="synopsis in synopses">
            <td>[[synopsis.title]]</td>
            <td><a href="https://drive.google.com/file/d/[[ synopsis.file_link ]]/view" target="_blank">Access File Here</a></td>
            <td>[[ synopsis.uploaded_at | date: 'MMMM dd, yyyy hh:mm a' ]]</td>
            <td>[[ synopsis.guide_approved ? 'Yes' : 'No' ]]</td> 
            <td>
                <button ng-click="deleteSynopsis(synopsis.id)">Delete</button>
                <button ng-click="approveSynopsis(synopsis)">Approve</button>
            </td>
        </tr>
    </table>

    <!-- Project File Upload (Only if synopsis is guide-approved) -->
    <div ng-if="canUploadProject()">
        <h2>Upload Project File</h2>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeKHA3GI-HsAhGBZN3BFgo-2Gz_nU4pLKUKkU41kzrufZGsvw/viewform?usp=pp_url&entry.14545404=[[project.encrypted]]" target="_blank">
            <button>Upload Project File</button>
        </a>
    </div>

    <div ng-if="project.guide_approved">    
        <!-- Evaluator CRUD -->
        <h2>Evaluators</h2>
        <form ng-submit="addEvaluator()">
            <input type="text" ng-model="newEvaluator.name" placeholder="Name" required>
            <input type="email" ng-model="newEvaluator.email" placeholder="Email" required>
            <input type="text" ng-model="newEvaluator.phone" placeholder="Phone" required>
            <label>Foreign Viva</label>
            <input type="checkbox" ng-model="newEvaluator.foreign_viva" required>
            <button type="submit">Add Evaluator</button>
        </form>

        <table border="1">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="evaluator in evaluators">
                <td>[[ evaluator.name ]]</td>
                <td>[[ evaluator.email ]]</td>
                <td>[[ evaluator.phone ]]</td>
                <td>[[ evaluator.foreign_viva?"Foreign Evaluator":"indian Evaluator" ]]</td>
                <td>
                    <button ng-click="deleteEvaluator(evaluator.id)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
    <script>
        var app = angular.module('ProjectApp', []);
        app.config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        });
        app.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.headers.common['X-CSRFToken'] = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        }]);

        app.controller('ProjectController', function($scope, $http) {
            var project_api = "/api/projects/";
            var synopsis_api = "/api/synopsis/";
            var evaluator_api = "/api/evaluators/";

            var pathParts = window.location.pathname.split('/');
            $scope.project_id = pathParts[pathParts.length - 2]; // Extract project_id from URL
            $scope.synopses = [];
            $scope.evaluators = [];

            // Load project details
            function loadProject() {
                $http.get(project_api + $scope.project_id + "/").then(function(response) {
                    $scope.project = response.data;
                });
            }

            // Load synopses
            function loadSynopses() {
                $http.get(synopsis_api + "?project=" + $scope.project_id).then(function(response) {
                    $scope.synopses = response.data;
                });
            }

            // Load evaluators
            function loadEvaluators() {
                $http.get(evaluator_api + "?project=" + $scope.project_id).then(function(response) {
                    $scope.evaluators = response.data;
                });
            }

            loadProject();
            loadSynopses();
            loadEvaluators();

            // Delete Synopsis
            $scope.deleteSynopsis = function(id) {
                if (confirm("Are you sure?")) {
                    $http.delete(synopsis_api + id + "/").then(function() {
                        loadSynopses();
                    });
                }
            };
            // Delete Synopsis
            $scope.approveSynopsis = function(synopsis) {
                if (confirm("You are about to allow the synopsis,are you sure?")) {
                    synopsis.guide_approved = true;
                    $http.put(synopsis_api + synopsis.id + "/",synopsis).then(function() {
                        loadSynopses();
                    });
                }
            };
            $scope.approveProject = function() {
                if (confirm("You are about to change the Project status,are you sure?")) {
                    $scope.project.guide_approved = !$scope.project.guide_approved;
                    $http.put(project_api + $scope.project.id + "/",$scope.project).then(function() {
                        loadProject();
                    });
                }
            };

            // Delete Evaluator
            $scope.deleteEvaluator = function(id) {
                if (confirm("Are you sure?")) {
                    $http.delete(evaluator_api + id + "/").then(function() {
                        loadEvaluators();
                    });
                }
            };

            // Check if Project Upload is Allowed
            $scope.canUploadProject = function() {
                return $scope.synopses.some(s => s.guide_approved);
            };

            $scope.canSelectEvaluator = function(){
                // if the evaluators was a 5 from indian and 5 from foreign we start the process ,
                // if any mail log attached to the project was found for approaching the then we dont have to show the start process

            }
        });
    </script>
</body>
</html>
